

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: red;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
}

